<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat-da-Burger!</title>
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
  <title>Yummicious Burger Menu</title>

  <style>

  </style>
</head>
<body>
<br>
    <img src="/assets/img/burger4.jpg" width="400px" id="cartoon_burger">
  {{{ body }}}
  <br>
  <br>
</body>
</html>
